<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Internet Permission -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradeUp">

        <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activities -->
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".auth.ForgotPasswordActivity" />
        <!-- Home Activities -->
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".profile.ProfileActivity" />

        <!-- List Activities -->
        <activity android:name=".listing.CreateListingActivity" />
        <activity android:name=".listing.ListingDetailActivity" />
        <activity android:name=".listing.ListingListActivity" />

    </application>
</manifest>