<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Hardware Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradeUp"
        tools:targetApi="31">

        <!-- Main Activity (contains fragments) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TradeUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTH ACTIVITIES -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TradeUp" />

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.TradeUp" />

        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".auth.LoginActivity" />

        <activity
            android:name=".auth.EmailVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".auth.RegisterActivity" />

        <!-- LISTING ACTIVITIES (Only real Activities, not Fragments) -->
        <activity
            android:name=".listing.AddListingActivity"
            android:exported="false"
            android:theme="@style/Theme.TradeUp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".listing.PreviewListingActivity"
            android:exported="false"
            android:theme="@style/Theme.TradeUp"
            android:parentActivityName=".listing.AddListingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".listing.AddListingActivity" />
        </activity>

        <!-- ONBOARDING ACTIVITIES -->
        <activity
            android:name=".onboarding.SetupProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.TradeUp" />

<!--        AccountSettingsActivity-->
        <activity
            android:name=".profile.AccountSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TradeUp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- PROFILE ACTIVITIES -->
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.TradeUp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>