<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required permissions for Section 1.1 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Location permissions for GPS functionality -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Hardware features (optional for wider device support) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradeUp.Spotify"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Authentication Activities -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".auth.LoginActivity" />

        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".auth.LoginActivity" />

        <!-- Profile Setup -->
        <activity
            android:name=".onboarding.SetupProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".auth.RegisterActivity" />

        <!--Edit profile-->
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!--Account setting-->
        <activity
            android:name=".profile.AccountSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".profile.EditProfileActivity" />

        <!-- View profile -->
        <activity
            android:name=".profile.ViewPublicProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>